name: actions
on:
  push:
    paths-ignore:
      - README.md
      - LICENSE.md
      - 'docs/**'
    pull_request:
      paths-ignore:
        -README.md
        - LICENSE.md
        - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Starting build pipeline for jjversion."
 
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: ls -al
      - uses: actions/setup-go@v2
      - name: Setup Docker BuildKit
        uses: docker/setup-buildx-action@v1

      - run: go vet
        working-directory: src
      - run: go test
        working-directory: src
      - run: go build
        working-directory: src
  
      - run: sudo mv src/jjversion /usr/local/bin
      - run: jjversion
      - run: echo "VERSION=$(jjversion | jq --raw-output '.MajorMinorPatch')" >> $GITHUB_ENV
      - run: sudo rm /usr/local/bin/jjversion
      - run: go build -ldflags "-X main.appVersion=${{ env.VERSION }}"
        working-directory: src
      - run: sudo cp src/jjversion /usr/local/bin
      - run: jjversion
      - run: jjversion --version

      - run: |
          docker build -t jjliggett/jjversion . \
            --build-arg BUILD_VERSION="$(jjversion | jq --raw-output '.MajorMinorPatch')" \
            --label "org.opencontainers.image.created=$(date +%Y-%m-%dT%H:%M:%S%z)" \
            --label "org.opencontainers.image.version=$(jjversion | jq --raw-output '.MajorMinorPatch')" \
            --label "org.opencontainers.image.authors=jjliggett" \
            --label "org.opencontainers.image.url=https://github.com/jjliggett/jjversion" \
            --label "org.opencontainers.image.documentation=https://github.com/jjliggett/jjversion" \
            --label "org.opencontainers.image.source=org.opencontainers.image.source" \
            --label "org.opencontainers.image.revision=$(git rev-parse HEAD)" \
            --label "org.opencontainers.image.title=jjversion" \
            --label "org.opencontainers.image.description=A basic versioning utility to version git projects"

      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion
      - run: docker build -f Dockerfile.test -t jjliggett/jjversion-test .
      - run: docker run --rm jjliggett/jjversion-test
      - run: docker save jjliggett/jjversion > jjversion.tar
      - name: Upload jjversion
        uses: actions/upload-artifact@v2
        with:
          name: jjversion
          path: src/jjversion
      - name: Upload jjversion.tar
        uses: actions/upload-artifact@v2
        with:
          name: jjversion.tar
          path: jjversion.tar

  publish:
    runs-on: ubuntu-latest
    needs:
      - build
      - test-release-branch
      - test-release-branch-and-tag
      - test-commit-incrementing
      - test-commit-tags-annotated-highest
      - test-commit-tags-lightweight-highest
      - test-docker-release-branch
      - test-docker-release-branch-and-tag
      - test-docker-commit-incrementing
      - test-docker-commit-tags-annotated-highest
      - test-docker-commit-tags-lightweight-highest
      - test-commit-incrementing-custom-versioning-settings
      - test-commit-incrementing-no-settings
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - name: Download jjversion.tar
        uses: actions/download-artifact@v2
        with:
          name: jjversion.tar
      - run: chmod +x jjversion
      - run: ls -R -al
      - run: sudo cp jjversion /usr/local/bin
      - run: docker load < jjversion.tar
      - run: docker tag jjliggett/jjversion "jjliggett/jjversion:$(jjversion | jq --raw-output '.MajorMinorPatch')"
      - run: docker tag jjliggett/jjversion "ghcr.io/jjliggett/jjversion:$(jjversion | jq --raw-output '.MajorMinorPatch')"
      - run: docker tag jjliggett/jjversion "ghcr.io/jjliggett/jjversion:latest"
      - run: docker images
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        if: ${{ github.ref == 'refs/heads/root' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: docker push "ghcr.io/jjliggett/jjversion:$(jjversion | jq --raw-output '.MajorMinorPatch')"
        if: ${{ github.ref == 'refs/heads/root' }}
      - run: docker push "ghcr.io/jjliggett/jjversion:latest"
        if: ${{ github.ref == 'refs/heads/root' }}
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        if: ${{ github.ref == 'refs/heads/root' }}
        with:
          registry: docker.io
          username: jjliggett
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - run: docker push "jjliggett/jjversion:$(jjversion | jq --raw-output '.MajorMinorPatch')"
        if: ${{ github.ref == 'refs/heads/root' }}
      - run: docker push jjliggett/jjversion
        if: ${{ github.ref == 'refs/heads/root' }}

  test-release-branch:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: git checkout -b release/10.42.11
      - run: git commit -m "initial commit" --allow-empty
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - run: chmod +x jjversion
      - run: ls -R -al
      - run: sudo cp jjversion /usr/local/bin
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 10.42.11
      - run: jjversion | jq --raw-output '.Major' | grep 10
      - run: jjversion | jq --raw-output '.Minor' | grep 42
      - run: jjversion | jq --raw-output '.Patch' | grep 11
      - run: jjversion | jq --raw-output '.Sha' | grep $(git rev-parse HEAD)

  test-release-branch-and-tag:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: git checkout -b release/10.42.11
      - run: git commit -m "initial commit" --allow-empty
      - run: git tag v42.43.44
      - run: git tag -a v100.100.100 -m "v100.100.100"
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - run: chmod +x jjversion
      - run: ls -R -al
      - run: sudo cp jjversion /usr/local/bin
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 10.42.11

  test-commit-incrementing:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - run: chmod +x jjversion
      - run: sudo mv jjversion /usr/local/bin

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          echo "commit_message_incrementing_enabled: true" >> versioning.yaml
          git commit -m "minor: initial commit" --allow-empty
          git commit -m "patch: fix small bug" --allow-empty
          git commit -m "patch: fix another bug" --allow-empty
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.1.2
      - run: |
          git commit -m "minor: added a feature" --allow-empty
          git commit -m "minor: added another feature" --allow-empty
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.3.0
      - run: |
          git commit -m "major: breaking changes etc." --allow-empty
          git commit -m "minor: added new option" --allow-empty
          git commit -m "minor: added another option" --allow-empty
          git commit -m "patch: fixed a bug" --allow-empty
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.6.1
      - run: |
          git commit -m "major: release 1.0.0" --allow-empty
          git tag v1.0.0
          git commit -m "minor: added another feature" --allow-empty
          git commit -m "major: breaking changes" --allow-empty
          git commit -m "minor: small update" --allow-empty
          git commit -m "patch: bugfix for etc." --allow-empty
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 2.1.1

  test-commit-tags-annotated-highest:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - run: chmod +x jjversion
      - run: sudo mv jjversion /usr/local/bin

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          git commit -m "Initial commit" --allow-empty
          git tag v0.0.1
          git tag v0.1.0
          git tag -a "v0.0.10" -m "v0.0.10"
          git tag -a "v1.0.0" -m "v1.0.0"
          git tag -a "v0.10.0" -m "v0.10.0"
          git tag v0.11.0
      - run: git show --quiet HEAD
      - run: git tag -n
      - run: git show-ref --tags -d
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 1.0.0

  test-commit-tags-lightweight-highest:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - run: chmod +x jjversion
      - run: sudo mv jjversion /usr/local/bin

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          git commit -m "Initial commit" --allow-empty
          git tag v0.0.1
          git tag v0.1.0
          git tag -a "v0.0.10" -m "v0.0.10"
          git tag v1.1.1
          git tag -a "v1.0.0" -m "v1.0.0"
          git tag -a "v0.10.0" -m "v0.10.0"
          git tag v0.11.0
      - run: git show --quiet HEAD
      - run: git tag -n
      - run: git show-ref --tags -d
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 1.1.1

  test-docker-release-branch:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: git checkout -b release/10.42.11
      - run: git commit -m "initial commit" --allow-empty
      - name: Download jjversion.tar
        uses: actions/download-artifact@v2
        with:
          name: jjversion.tar
      - run: docker load < jjversion.tar
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 10.42.11
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.Major' | grep 10
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.Minor' | grep 42
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.Patch' | grep 11
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.Sha' | grep $(git rev-parse HEAD)

  test-docker-release-branch-and-tag:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: git checkout -b release/10.42.11
      - run: git commit -m "initial commit" --allow-empty
      - run: git tag v42.43.44
      - run: git tag -a v100.100.100 -m "v100.100.100"
      - name: Download jjversion.tar
        uses: actions/download-artifact@v2
        with:
          name: jjversion.tar
      - run: docker load < jjversion.tar
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 10.42.11

  test-docker-commit-incrementing:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion.tar
        uses: actions/download-artifact@v2
        with:
          name: jjversion.tar
      - run: docker load < jjversion.tar

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          echo "commit_message_incrementing_enabled: true" >> versioning.yaml
          git commit -m "minor: initial commit" --allow-empty
          git commit -m "patch: fix small bug" --allow-empty
          git commit -m "patch: fix another bug" --allow-empty
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.1.2
      - run: |
          git commit -m "minor: added a feature" --allow-empty
          git commit -m "minor: added another feature" --allow-empty
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.3.0
      - run: |
          git commit -m "major: breaking changes etc." --allow-empty
          git commit -m "minor: added new option" --allow-empty
          git commit -m "minor: added another option" --allow-empty
          git commit -m "patch: fixed a bug" --allow-empty
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.6.1
      - run: |
          git commit -m "major: release 1.0.0" --allow-empty
          git tag v1.0.0
          git commit -m "minor: added another feature" --allow-empty
          git commit -m "major: breaking changes" --allow-empty
          git commit -m "minor: small update" --allow-empty
          git commit -m "patch: bugfix for etc." --allow-empty
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 2.1.1

  test-docker-commit-tags-annotated-highest:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion.tar
        uses: actions/download-artifact@v2
        with:
          name: jjversion.tar
      - run: docker load < jjversion.tar

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          git commit -m "Initial commit" --allow-empty
          git tag v0.0.1
          git tag v0.1.0
          git tag -a "v0.0.10" -m "v0.0.10"
          git tag -a "v1.0.0" -m "v1.0.0"
          git tag -a "v0.10.0" -m "v0.10.0"
          git tag v0.11.0
      - run: git show --quiet HEAD
      - run: git tag -n
      - run: git show-ref --tags -d
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 1.0.0

  test-docker-commit-tags-lightweight-highest:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion.tar
        uses: actions/download-artifact@v2
        with:
          name: jjversion.tar
      - run: docker load < jjversion.tar

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          git commit -m "Initial commit" --allow-empty
          git tag v0.0.1
          git tag v0.1.0
          git tag -a "v0.0.10" -m "v0.0.10"
          git tag v1.1.1
          git tag -a "v1.0.0" -m "v1.0.0"
          git tag -a "v0.10.0" -m "v0.10.0"
          git tag v0.11.0
      - run: git show --quiet HEAD
      - run: git tag -n
      - run: git show-ref --tags -d
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion
      - run: docker run --rm -v "$(pwd):/repo" jjliggett/jjversion | jq --raw-output '.MajorMinorPatch' | grep 1.1.1

  test-commit-incrementing-custom-versioning-settings:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - run: chmod +x jjversion
      - run: sudo mv jjversion /usr/local/bin

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          echo "commit_message_incrementing_enabled: true" >> versioning.yaml
          echo "major_version_bump_message: '^((first):)'" >> versioning.yaml
          echo "minor_version_bump_message: '^((second):)'" >> versioning.yaml
          echo "patch_version_bump_message: '^((third):)'" >> versioning.yaml
          git commit -m "second: initial commit" --allow-empty
          git commit -m "minor: commit" --allow-empty
          git commit -m "third: fix small bug" --allow-empty
          git commit -m "third: fix another bug" --allow-empty
          git commit -m "patch: fix small bug" --allow-empty
          git commit -m "patch: fix another bug" --allow-empty
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.1.2
      - run: |
          git commit -m "first: release 1.0.0" --allow-empty
          git tag v1.0.0
          git commit -m "first: major commit" --allow-empty
          git commit -m "major: major commit" --allow-empty
          git commit -m "third: bugfix" --allow-empty
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 2.0.1

  test-commit-incrementing-no-settings:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download jjversion
        uses: actions/download-artifact@v2
        with:
          name: jjversion
      - run: chmod +x jjversion
      - run: sudo mv jjversion /usr/local/bin

      - run: mkdir repo && cd repo
      - run: git init
      - run: git config user.email "user@example.com"
      - run: git config user.name "user"
      - run: |
          git commit -m "minor: initial commit" --allow-empty
          git commit -m "patch: fix small bug" --allow-empty
          git commit -m "patch: fix another bug" --allow-empty
      - run: jjversion
      - run: jjversion | jq --raw-output '.MajorMinorPatch' | grep 0.0.0
